# Node
node_modules/
npm-debug.log
yarn.lock

# React build
frontend/build/
build/

# Env files
.env

# PM2
.pm2/

# OS / Editor
.viminfo
.DS_Store

# Cache
.cache/
.npm/

# SSH & system
.ssh/
.bash_history

